[submodule "kube-prometheus"]
	path = kube-prometheus
	url = git@github.com:prometheus-operator/kube-prometheus.git
[submodule "dashboard/fabric/HLF_GrafanaDashBoard"]
	path = dashboard/fabric/HLF_GrafanaDashBoard
	url = git@github.com:SamYuan1990/HLF_GrafanaDashBoard.git
